<!DOCTYPE html>
<html lang="en" class="login-register-bg"> 
    <title>Login</title>
        <head>
            <link rel="stylesheet" type="text/css" href="../Assests/stylesheet.css">
            <link href="https://fonts.googleapis.com/css?family=Biryani:800" rel="stylesheet">
        </head>
		<body>		
            <div id="view">
				<div id="login">
					<form action="../Scripts/register.php" method="post">
						<center><h1 class="title">Sign up for Valley</h1>
                            <p>We hope you stick around</p>
						<input type="text" name="user" class="usernamelogin" placeholder="Enter your username" required><br><br>
						<input type="password" name="pass" placeholder="Enter your password" required><br><br>
						<input type="password" name="confirmpass" placeholder="Confirm your password" required><br><br>
						<input type="submit" value="sign up">
                            <br><br><br>
                        </center> 
					</form>
				</div>	
            </div>
		</body>
</html>
