<!DOCTYPE html>
<html lang="en"> 
    <title>Valley</title>
        <head>
            <link rel="stylesheet" type="text/css" href="/stylesheet.css">
            <link href="https://fonts.googleapis.com/css?family=Biryani:800" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </head>
		<body>		
           <div id="stage">
                <div id="top">
                    <img src="/valley1.png" class="valley1">
                    <img src="/valley2.png" class="valley2">
                    <img src="/user.png" class="user">
                </div>
                <div id="right">
		<div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
                </div>
		
		 <h1 id="handle"> default></h1>
				
		                    
		<input type ='text' id = 'message'  placeholder = 'Type your message here...' required><br><br>
		<button id="send">Send</button>                
		</div>
               </div>
		</body>
                <script src="/chat.js"></script>
</html>
